__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
*.log
media/
staticfiles/
celerybeat-schedule
*.pid
pitching_day_venv/
venv/
.envrc
.git
.gitignore
.vscode/
.idea/
.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
