Django==3.2.25
djangorestframework==3.12.4
channels==3.0.5
channels-redis==3.3.1
daphne==3.0.2
Pillow==9.0.0
django-environ==0.11.2
psycopg2-binary==2.9.3
reportlab==4.2.5
django-cors-headers==3.13.0
dj-database-url==0.5.0
drf-spectacular==0.22.1
